<!-- app/views/tweets/index.html.erb -->
<style>

  .field textarea {
    width: 100%; /* Make textarea full-width */
    height: 100px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px; /* Rounded corners */
    resize: none;
  }

 *:focus {outline:none !important}
</style>

<% if user_signed_in? %>
  <h1>Welcome Home, <%= current_user.email %></h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

<h1>Tweets</h1>
<%= turbo_frame_tag "tweet_form" do %>
  <%= render "tweets/form", tweet: @tweet %>
<% end %>

<hr>

<%= turbo_stream_from "tweets" %>
<%= turbo_frame_tag "tweets" do %>
  <%= render @tweets %>
<% end %>
